<section id="address">
  <div class="container p-5">
    <h4 class="display-4">My Shipping Address</h4>
    <hr>
    <div *ngIf="message">
      <app-message type="success" [message]="message"></app-message>
    </div>
    <div *ngIf="!user" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="user" class="card bg-light">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Street</label>
            <input type="text" name="street" class="form-control" [(ngModel)]="user.address.street">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label">State</label>
                <input type="text" name="state" class="form-control" [(ngModel)]="user.address.state">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label">City</label>
                <input type="text" name="city" class="form-control" [(ngModel)]="user.address.city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label">Postal Code</label>
                <input type="text" name="code" class="form-control" [(ngModel)]="user.address.postalCode">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Country</label>
            <input type="text" name="country" class="form-control" [(ngModel)]="user.address.country">
          </div>
          <button type="button" class="btn btn-danger" (click)="update();">Change Address</button>
        </form>
      </div>
    </div>
  </div>
</section>