<section id="postProduct">
    <div class="container p-5">
      <h4 class="display-4">Post a Product for Sale</h4>
      <hr>
      <div *ngIf="data.message">
        <app-message [type]="data.messageType" [message]="data.message"></app-message>
      </div>
      <div *ngIf="!categories" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngIf="categories" class="card bg-light">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="form-control-label">Title</label>
              <input type="text" name="title" class="form-control" >
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="form-control-label">Price</label>
                  <input type="number" name="price" class="form-control" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Categories</label>
                  <select name="categoryId" class="custom-select">
                    <option *ngFor="let category of categories" [value]="category._id">
                      {{ category.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Description</label>
              <textarea type="text" rows="5" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label class="form-control-label">Upload Image</label>
              <input type="file" accept="image/*" name="file" class="form-control-file">
            </div>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-upload"></i>  Post
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>